@import "keyframes";
.pulse{

	@include animation(pulse-animation 5s linear infinite);
	@include transform-origin(70% 70%);

}

.pulse2{

	@include animation(pulse-animation 5s linear infinite);
	@include transform(translateY(50px));

}

.spin{
	@include animation(spin 7s linear);
}

.fade-out{
	@include animation(fadeOut 2s linear);
	@include animation-timing-function(ease);
	@include animation-delay(.5s);

}

.fade-in{
	@include animation(fadeIn 2s linear);
	@include animation-timing-function(ease);

}

.fadeIn-scaleUp{
	@include animation(fadeInScale 1s linear);
	@include animation-fill-mode(forwards);
}

.blur{
	@include animation(blur 1s linear);
	@include animation-fill-mode(forwards);
	z-index: 1;
}

.slide-in{
	@include animation(slidein 1s linear);
	@include animation-fill-mode(forwards);
}
 .slide-in-reverse{
	@include animation(slideinreverse 1s linear);
	@include animation-fill-mode(backwards);
}

.fadeBlur{
	@include animation(fadeBlur 2s linear);
	@include animation-fill-mode(forwards);
	@include animation-delay(2s);
}
.fadeBlur2{
	@include animation(fadeBlur 2s linear);
	@include animation-fill-mode(forwards);
	@include animation-delay(3s);
}

.moveUp{
	@include animation(moveUp 10s linear);
	@include animation-fill-mode(forwards);
	@include animation-delay(1s);
}

.reverseFadeBlur{
	@include animation(fadeBlur 2s linear);
	@include animation-fill-mode(forwards);
	@include animation-delay(2s);
}

.fadeBlurUp{
	@include animation(fadeBlur 4s linear);
	@include animation-fill-mode(forwards);
	@include animation-delay(7s);
}

.fadeBlurUp2{
	@include animation(fadeBlur 3s linear);
	@include animation-fill-mode(forwards);
}

.blurOut{
	@include animation(blurOut 4s linear);
	@include animation-fill-mode(forwards);
}
.blurBackIn{
	@include animation(blurBackIn 4s linear);
	@include animation-fill-mode(forwards);
}

.blur-left{
	background-image: url('../images/blur-problem.jpg')!important;
	background-position: 53% 90%!important;
	@include transition(all 3s ease-in-out);
}
.blur-right{
	background-image: url('../images/blur-promise.jpg')!important;
	background-position: 49% 90%!important;
	@include transition(all 3s ease-in-out);
}
.blur-out{
	@include filter(blur(10px));
	opacity:.2;
	@include transition(all 3s ease-in-out);
}
.blur-in{
	@include filter(blur(0px));
	opacity:1;
	@include transition(all 3s ease-in-out);
}
.blur-in-slow{
	@include filter(blur(0px));
	opacity:1;
	@include transition(all 5s ease-in-out);
}
.blur{
	@include filter(blur(10px));
}
.hue-rotate{
	@include animation(hueRotate 14s linear);
	@include animation-fill-mode(forwards);
}