	@include keyframes(pulse-animation) {
   0% { transform: scale(1);
        transform:translateY(0px); 
      }
   30% { transform: scale(1); }
   40% { transform: scale(1.1); 
          transform:translateY(5px);}
   50% { transform: scale(1); }
   60% { transform: scale(1); }
   70% { transform: scale(1.08); 
          transform:translateY(10px);}
   80% { transform: scale(1); }
   100% { transform: scale(1); }
 }


 @include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity:0;
    transform: scale(0);
  }
  30%{
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeIn) {
  from {

    opacity: 0;
  }
  to {

    opacity: 1;
  }
}


@include keyframes(fadeInScale) {
  from {

    transform: scaleY(0);
  }
  to {

    transform: scaleY(1);
  }
}

@include keyframes(blur) {
  from {
    @include filter(blur(0px));
  }
  to {
    @include filter(blur(10px));
  }
}



@include keyframes(blurOut) {
  from {
    @include filter(blur(10px));
  }
  to {
    @include filter(blur(0px));
  }
}

@include keyframes(blurBackIn) {
  from {
    @include filter(blur(0px));
  }
  to {
    @include filter(blur(10px));
  }
}



@include keyframes(slidein) {
  0% { right: -800px; }
    100% { right: 0; }
}



@include keyframes(slideinreverse) {
  0% { right: 800px; }
    100% { right: 0; }
}


@include keyframes(moveUp) {
  0% { background-position: 50% 0%; }
  20% { background-position: 50% 20%; }
    100% { background-position: 50% 100%; }
}



@include keyframes(slideinreverse) {
  0% { right: 800px; }
    100% { right: 0; }
}


@include keyframes(fadeBlur) {
  0% { 
    @include filter(blur(40px));
    opacity: 0;
    @include transform(translateY(800px));
    @include transform(scaleY(.25));
  }
  90% { 
    @include filter(blur(0px));
    opacity: 1;
  }
  100% { 
    @include transform(scaleY(1));
    @include transform(translateY(0px));
  }
}

@include keyframes(fadeBlurUp) {
  0% { 
    @include filter(blur(40px));
    opacity: 0;
    @include transform(translateY(1200px));
    @include transform(scaleX(0));
  }
  60% { 
    @include filter(blur(10px));
    opacity: 1;
  }
  80% { 
    @include transform(scaleX(1));
    @include transform(translateY(0px));
  }
  90% { 
    @include transform(translateY(100px));
  }
  100% { 
    @include transform(translateY(0px));
    @include filter(blur(0px));
  }
}


@include keyframes(fadeBlurUp2) {
  0% { 
    @include filter(blur(40px));
    opacity: 0;
    @include transform(translateY(1500px));
    @include transform(scaleX(0));
  }
  60% { 
    @include filter(blur(10px));
    opacity: 1;
  }
  80% { 
    @include transform(scaleX(1));
    @include transform(translateY(0px));
    @include transform(translateY(1000px));
  }
  90% { 
    @include transform(translateY(100px));
  }
  100% { 
    @include transform(translateY(0px));
    @include filter(blur(0px));
  }
}


  @include keyframes(reverseFadeBlur) {
    0% {
      @include transform(scaleY(1));
      @include transform(translateY(0px));  
    }  
    10% { 
      @include filter(blur(0px));
      opacity: 1;
    }
    100% { 
      @include filter(blur(40px));
      opacity: 0;
      @include transform(translateY(800px));
      @include transform(scaleY(.25));
    }
  }
  
@include keyframes(hueRotate) {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(84deg);
    filter: hue-rotate(84deg);
  }
}

@include keyframes(checked-anim) {
    50% {
        width: 100vw;
        height: 100%;
        opacity:0;
        border-radius: 0;

    }
    100% {
        width: 100vw;
        height: 100%;
        border-radius: 0;
        opacity:1;
    }
}
@include keyframes(not-checked-anim) {
    0% {
        opacity:0;
    }
}
@include keyframes(movebg) {
    0% {
      background-position: 51% 90%;
    }
    20%{
      background-position: 49% 88%;
    }
    40% {
      background-position: 53% 92%;
    }
    60%{
      background-position: 50% 89%;
    }
    80%{
      background-position: 52% 91%;
    }
    100% {
      background-position: 48% 87%;
    }
}