	@include keyframes(pulse-animation) {
   0% { transform: scale(1); }
   30% { transform: scale(1); }
   40% { transform: scale(1.08); }
   50% { transform: scale(1); }
   60% { transform: scale(1); }
   70% { transform: scale(1.05); }
   80% { transform: scale(1); }
   100% { transform: scale(1); }
 }


 @include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity:0;
    transform: scale(0);
  }
  30%{
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeIn) {
  from {

    opacity: 0;
  }
  to {

    opacity: 1;
  }
}


@include keyframes(fadeInScale) {
  from {

    transform: scaleY(0);
  }
  to {

    transform: scaleY(1);
  }
}

@include keyframes(blur) {
  from {
    @include filter(blur(0px));
  }
  to {
    @include filter(blur(10px));
  }
}



@include keyframes(blurOut) {
  from {
    @include filter(blur(10px));
  }
  to {
    @include filter(blur(0px));
  }
}



@include keyframes(slidein) {
  0% { right: -800px; }
    100% { right: 0; }
}



@include keyframes(slideinreverse) {
  0% { right: 800px; }
    100% { right: 0; }
}


@include keyframes(moveUp) {
  0% { background-position: 50% 0%; }
  20% { background-position: 50% 20%; }
    100% { background-position: 50% 100%; }
}



@include keyframes(slideinreverse) {
  0% { right: 800px; }
    100% { right: 0; }
}


@include keyframes(fadeBlur) {
  0% { 
    @include filter(blur(40px));
    opacity: 0;
    @include transform(translateY(800px));
    @include transform(scaleY(.25));
  }
  90% { 
    @include filter(blur(0px));
    opacity: 1;
  }
  100% { 
    @include transform(scaleY(1));
    @include transform(translateY(0px));
  }
}

@include keyframes(fadeBlurUp) {
  0% { 
    @include filter(blur(40px));
    opacity: 0;
    @include transform(translateY(1200px));
    @include transform(scaleX(0));
  }
  60% { 
    @include filter(blur(10px));
    opacity: 1;
  }
  80% { 
    @include transform(scaleX(1));
    @include transform(translateY(0px));
  }
  90% { 
    @include transform(translateY(100px));
  }
  90% { 
    @include transform(translateY(0px));
    @include filter(blur(0px));
  }
}


  @include keyframes(reverseFadeBlur) {
    0% {
      @include transform(scaleY(1));
      @include transform(translateY(0px));  
    }  
    10% { 
      @include filter(blur(0px));
      opacity: 1;
    }
    100% { 
      @include filter(blur(40px));
      opacity: 0;
      @include transform(translateY(800px));
      @include transform(scaleY(.25));
    }
  }

   @include keyframes(blurOut) {
    0% {
      @include filter(blur(0px));
    }  
    100% { 
      @include filter(blur(40px));
    }
  }

  @include keyframes(blurBackIn) {
    0% {
      @include filter(blur(40px));
    }  
    100% { 
      @include filter(blur(0px));
    }
  }

  @include keyframes(moveRight) {
    0% { background-position-x: 51%; }
    100% { background-position-x: 55%; }
  }
  @include keyframes(moveLeft) {
    0% { background-position-x: 51%; }
    100% { background-position-x: 47%; }
  }

  @include keyframes(moveBackRight) {
    0% { background-position-x: 55%; }
    100% { background-position-x: 51%; }
  }
  @include keyframes(moveBackLeft) {
    0% { background-position-x: 47%; }
    100% { background-position-x: 51%; }
  }
  
