html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/* =Variables
-------------------------------------------------------------- */
/* Colors */
/* $gray1 is apart of this palette too */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: #ffffff;
  font-family: "nimbus-sans-condensed";
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "nimbus-sans-condensed";
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 0.525rem; }
  @media screen and (min-width: 993px) {
    h1 {
      font-size: 70px; } }
  @media screen and (min-width: 1441px) {
    h1 {
      font-size: 80px; } }

h2 {
  font-family: "adobe-garamond-pro";
  letter-spacing: 0; }
  @media screen and (min-width: 1441px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: white;
  text-decoration: none;
  outline: 0 !important; }
  a:hover {
    color: white; }
  a:active, a:focus {
    color: white;
    outline: none; }
  a:visited {
    color: white; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #ddd;
  color: white;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: white;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

/* =Variables
-------------------------------------------------------------- */
/* Colors */
/* $gray1 is apart of this palette too */
body {
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden; }
  body div#main {
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    body div#main div.content {
      margin: 0 auto;
      padding: 0;
      width: 100%; }

.blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }

#split-blocker {
  display: none; }

@-webkit-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@-moz-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@-moz-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(10px); } }

@-moz-keyframes blur {
  from { }
  to { } }

@keyframes blur {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }

@-webkit-keyframes blurOut {
  from {
    -webkit-filter: blur(10px); }
  to {
    -webkit-filter: blur(0px); } }

@-moz-keyframes blurOut {
  from { }
  to { } }

@keyframes blurOut {
  from {
    -webkit-filter: blur(10px);
    filter: blur(10px); }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px); } }

@-webkit-keyframes blurBackIn {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(10px); } }

@-moz-keyframes blurBackIn {
  from { }
  to { } }

@keyframes blurBackIn {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }

@-webkit-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }

@-moz-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }

@keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }

@-webkit-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-moz-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-webkit-keyframes moveUp {
  0% {
    background-position: 50% 0%; }
  20% {
    background-position: 50% 20%; }
  100% {
    background-position: 50% 100%; } }

@-moz-keyframes moveUp {
  0% {
    background-position: 50% 0%; }
  20% {
    background-position: 50% 20%; }
  100% {
    background-position: 50% 100%; } }

@keyframes moveUp {
  0% {
    background-position: 50% 0%; }
  20% {
    background-position: 50% 20%; }
  100% {
    background-position: 50% 100%; } }

@-webkit-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-moz-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-webkit-keyframes fadeBlur {
  0% {
    -webkit-filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -webkit-transform: scaleY(0.25); }
  90% {
    -webkit-filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    -webkit-transform: translateY(0px); } }

@-moz-keyframes fadeBlur {
  0% {
    opacity: 0;
    -moz-transform: translateY(800px);
    -moz-transform: scaleY(0.25); }
  90% {
    opacity: 1; }
  100% {
    -moz-transform: scaleY(1);
    -moz-transform: translateY(0px); } }

@keyframes fadeBlur {
  0% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
    transform: translateY(800px);
    -webkit-transform: scaleY(0.25);
    -moz-transform: scaleY(0.25);
    -ms-transform: scaleY(0.25);
    -o-transform: scaleY(0.25);
    transform: scaleY(0.25); }
  90% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes fadeBlurUp {
  0% {
    -webkit-filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(1200px);
    -webkit-transform: scaleX(0); }
  60% {
    -webkit-filter: blur(10px);
    opacity: 1; }
  80% {
    -webkit-transform: scaleX(1);
    -webkit-transform: translateY(0px); }
  90% {
    -webkit-transform: translateY(100px); }
  90% {
    -webkit-transform: translateY(0px);
    -webkit-filter: blur(0px); } }

@-moz-keyframes fadeBlurUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(1200px);
    -moz-transform: scaleX(0); }
  60% {
    opacity: 1; }
  80% {
    -moz-transform: scaleX(1);
    -moz-transform: translateY(0px); }
  90% {
    -moz-transform: translateY(100px); }
  90% {
    -moz-transform: translateY(0px); } }

@keyframes fadeBlurUp {
  0% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(1200px);
    -moz-transform: translateY(1200px);
    -ms-transform: translateY(1200px);
    -o-transform: translateY(1200px);
    transform: translateY(1200px);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  60% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 1; }
  80% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  90% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px); }
  90% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px); } }

@-webkit-keyframes reverseFadeBlur {
  0% {
    -webkit-transform: scaleY(1);
    -webkit-transform: translateY(0px); }
  10% {
    -webkit-filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -webkit-transform: scaleY(0.25); } }

@-moz-keyframes reverseFadeBlur {
  0% {
    -moz-transform: scaleY(1);
    -moz-transform: translateY(0px); }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translateY(800px);
    -moz-transform: scaleY(0.25); } }

@keyframes reverseFadeBlur {
  0% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  10% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
    transform: translateY(800px);
    -webkit-transform: scaleY(0.25);
    -moz-transform: scaleY(0.25);
    -ms-transform: scaleY(0.25);
    -o-transform: scaleY(0.25);
    transform: scaleY(0.25); } }

.pulse {
  -webkit-animation: pulse-animation 5s linear infinite;
  -moz-animation: pulse-animation 5s linear infinite;
  animation: pulse-animation 5s linear infinite;
  -webkit-transform-origin: 70% 70%;
  -moz-transform-origin: 70% 70%;
  -ms-transform-origin: 70% 70%;
  -o-transform-origin: 70% 70%;
  transform-origin: 70% 70%; }

.spin {
  -webkit-animation: spin 7s linear;
  -moz-animation: spin 7s linear;
  animation: spin 7s linear; }

.fade-out {
  -webkit-animation: fadeOut 2s linear;
  -moz-animation: fadeOut 2s linear;
  animation: fadeOut 2s linear;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.fade-in {
  -webkit-animation: fadeIn 2s linear;
  -moz-animation: fadeIn 2s linear;
  animation: fadeIn 2s linear;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fadeIn-scaleUp {
  -webkit-animation: fadeInScale 1s linear;
  -moz-animation: fadeInScale 1s linear;
  animation: fadeInScale 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.blur {
  -webkit-animation: blur 1s linear;
  -moz-animation: blur 1s linear;
  animation: blur 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 1; }

.slide-in {
  -webkit-animation: slidein 1s linear;
  -moz-animation: slidein 1s linear;
  animation: slidein 1s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.slide-in-reverse {
  -webkit-animation: slideinreverse 1s linear;
  -moz-animation: slideinreverse 1s linear;
  animation: slideinreverse 1s linear;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.fadeBlur {
  -webkit-animation: fadeBlur 2s linear;
  -moz-animation: fadeBlur 2s linear;
  animation: fadeBlur 2s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

.fadeBlur2 {
  -webkit-animation: fadeBlur 2s linear;
  -moz-animation: fadeBlur 2s linear;
  animation: fadeBlur 2s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }

.moveUp {
  -webkit-animation: moveUp 10s linear;
  -moz-animation: moveUp 10s linear;
  animation: moveUp 10s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.reverseFadeBlur {
  -webkit-animation: fadeBlur 2s linear;
  -moz-animation: fadeBlur 2s linear;
  animation: fadeBlur 2s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

.fadeBlurUp {
  -webkit-animation: fadeBlur 4s linear;
  -moz-animation: fadeBlur 4s linear;
  animation: fadeBlur 4s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s; }

.blurOut {
  -webkit-animation: blurOut 4s linear;
  -moz-animation: blurOut 4s linear;
  animation: blurOut 4s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.blurBackIn {
  -webkit-animation: blurBackIn 4s linear;
  -moz-animation: blurBackIn 4s linear;
  animation: blurBackIn 4s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@-moz-keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes pulse-animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  30% {
    opacity: 1;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@-moz-keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@keyframes fadeInScale {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(10px); } }

@-moz-keyframes blur {
  from { }
  to { } }

@keyframes blur {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }

@-webkit-keyframes blurOut {
  from {
    -webkit-filter: blur(10px); }
  to {
    -webkit-filter: blur(0px); } }

@-moz-keyframes blurOut {
  from { }
  to { } }

@keyframes blurOut {
  from {
    -webkit-filter: blur(10px);
    filter: blur(10px); }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px); } }

@-webkit-keyframes blurBackIn {
  from {
    -webkit-filter: blur(0px); }
  to {
    -webkit-filter: blur(10px); } }

@-moz-keyframes blurBackIn {
  from { }
  to { } }

@keyframes blurBackIn {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  to {
    -webkit-filter: blur(10px);
    filter: blur(10px); } }

@-webkit-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }

@-moz-keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }

@keyframes slidein {
  0% {
    right: -800px; }
  100% {
    right: 0; } }

@-webkit-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-moz-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-webkit-keyframes moveUp {
  0% {
    background-position: 50% 0%; }
  20% {
    background-position: 50% 20%; }
  100% {
    background-position: 50% 100%; } }

@-moz-keyframes moveUp {
  0% {
    background-position: 50% 0%; }
  20% {
    background-position: 50% 20%; }
  100% {
    background-position: 50% 100%; } }

@keyframes moveUp {
  0% {
    background-position: 50% 0%; }
  20% {
    background-position: 50% 20%; }
  100% {
    background-position: 50% 100%; } }

@-webkit-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-moz-keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@keyframes slideinreverse {
  0% {
    right: 800px; }
  100% {
    right: 0; } }

@-webkit-keyframes fadeBlur {
  0% {
    -webkit-filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -webkit-transform: scaleY(0.25); }
  90% {
    -webkit-filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    -webkit-transform: translateY(0px); } }

@-moz-keyframes fadeBlur {
  0% {
    opacity: 0;
    -moz-transform: translateY(800px);
    -moz-transform: scaleY(0.25); }
  90% {
    opacity: 1; }
  100% {
    -moz-transform: scaleY(1);
    -moz-transform: translateY(0px); } }

@keyframes fadeBlur {
  0% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
    transform: translateY(800px);
    -webkit-transform: scaleY(0.25);
    -moz-transform: scaleY(0.25);
    -ms-transform: scaleY(0.25);
    -o-transform: scaleY(0.25);
    transform: scaleY(0.25); }
  90% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes fadeBlurUp {
  0% {
    -webkit-filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(1200px);
    -webkit-transform: scaleX(0); }
  60% {
    -webkit-filter: blur(10px);
    opacity: 1; }
  80% {
    -webkit-transform: scaleX(1);
    -webkit-transform: translateY(0px); }
  90% {
    -webkit-transform: translateY(100px); }
  90% {
    -webkit-transform: translateY(0px);
    -webkit-filter: blur(0px); } }

@-moz-keyframes fadeBlurUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(1200px);
    -moz-transform: scaleX(0); }
  60% {
    opacity: 1; }
  80% {
    -moz-transform: scaleX(1);
    -moz-transform: translateY(0px); }
  90% {
    -moz-transform: translateY(100px); }
  90% {
    -moz-transform: translateY(0px); } }

@keyframes fadeBlurUp {
  0% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(1200px);
    -moz-transform: translateY(1200px);
    -ms-transform: translateY(1200px);
    -o-transform: translateY(1200px);
    transform: translateY(1200px);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  60% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 1; }
  80% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  90% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px); }
  90% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-filter: blur(0px);
    filter: blur(0px); } }

@-webkit-keyframes reverseFadeBlur {
  0% {
    -webkit-transform: scaleY(1);
    -webkit-transform: translateY(0px); }
  10% {
    -webkit-filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -webkit-transform: scaleY(0.25); } }

@-moz-keyframes reverseFadeBlur {
  0% {
    -moz-transform: scaleY(1);
    -moz-transform: translateY(0px); }
  10% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translateY(800px);
    -moz-transform: scaleY(0.25); } }

@keyframes reverseFadeBlur {
  0% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  10% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  100% {
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
    transform: translateY(800px);
    -webkit-transform: scaleY(0.25);
    -moz-transform: scaleY(0.25);
    -ms-transform: scaleY(0.25);
    -o-transform: scaleY(0.25);
    transform: scaleY(0.25); } }

div#intro-screen {
  width: 100%;
  height: 100vh;
  background-image: url("../images/sky.png");
  background-size: 200% 400%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }
  div#intro-screen div#intro-text {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    z-index: 2;
    height: 200px;
    margin: auto; }
    div#intro-screen div#intro-text h1#intro-heading, div#intro-screen div#intro-text h2#intro-subheading {
      opacity: 0; }

div#split-screen {
  background-image: url("../images/problemvspromise.jpg");
  background-size: 600%;
  background-position: 51% 90%;
  width: 100%;
  height: 100vh; }
  @media screen and (min-width: 769px) {
    div#split-screen h1 {
      font-size: 50px;
      letter-spacing: 3px; } }
  @media screen and (min-width: 1441px) {
    div#split-screen h1 {
      font-size: 60px; } }
  @media screen and (min-width: 769px) {
    div#split-screen h2 {
      font-size: 1rem; } }
  div#split-screen div#problem-screen {
    position: relative;
    height: 100vh;
    width: 50%;
    float: left;
    cursor: pointer;
    opacity: 0; }
    div#split-screen div#problem-screen div.blur-overlay-left {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
      -webkit-transition: all 5s ease-in-out;
      -moz-transition: all 5s ease-in-out;
      transition: all 5s ease-in-out; }
    div#split-screen div#problem-screen div#problem-text {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 50%;
      left: 0;
      z-index: -2;
      min-width: 200px; }
      @media screen and (min-width: 1201px) {
        div#split-screen div#problem-screen div#problem-text {
          top: 30%;
          min-width: 300px; } }
  div#split-screen div#promise-screen {
    position: relative;
    height: 100vh;
    width: 50%;
    float: right;
    cursor: pointer;
    opacity: 0; }
    div#split-screen div#promise-screen div.blur-overlay-right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
      z-index: -1;
      -webkit-transition: all 5s ease-in-out;
      -moz-transition: all 5s ease-in-out;
      transition: all 5s ease-in-out; }
    div#split-screen div#promise-screen div#promise-text {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 50%;
      left: 0;
      z-index: -2; }
      @media screen and (min-width: 1201px) {
        div#split-screen div#promise-screen div#promise-text {
          top: 30%; } }

.is-active {
  display: inherit;
  opacity: 1 !important;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out; }

.is-inactive {
  display: none;
  opacity: 0;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out; }

.is-visible {
  opacity: 1;
  visibility: visible; }

.is-hidden {
  opacity: 0;
  visibility: hidden; }

.is-disabled {
  opacity: .5;
  cursor: default; }
  .is-disabled:hover {
    cursor: default !important; }
  .is-disabled a {
    cursor: default; }
    .is-disabled a:hover {
      cursor: default !important;
      border: none !important; }

.is-enabled {
  opacity: 1;
  cursor: pointer; }
  .is-enabled:hover {
    cursor: pointer; }

.is-scrollable {
  overflow: auto !important; }

a.no-decoration, a:hover.no-decoration {
  text-decoration: none !important;
  border: none !important; }

.blur-left {
  background-image: url("../images/blur-problem.jpg") !important;
  background-position: 53% 90% !important;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.blur-right {
  background-image: url("../images/blur-promise.jpg") !important;
  background-position: 49% 90% !important;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.blur-out {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: .2;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.blur-in {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px); }
