body {
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: $white;
  font-family: $title;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  letter-spacing: $header-letter-spacing;
  text-align: center;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $h1-font-size;
  text-transform: uppercase;
  margin-bottom: 0.525rem;
  @include media($lg-min){
    font-size: 70px;
  }
  @include media($xxl-min){
    font-size: 80px;
  }
}

h2 {
  font-family: $content;
  letter-spacing:$base-letter-spacing;
  @include media($xxl-min){
    font-size: 20px;
    
  }
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 ($base-spacing / 2);
}

a {
  @include transition(color 0.1s linear);
  color: white;
  text-decoration: none;
  outline:0!important;
  &:hover {
    color: white;
  }

  &:active, &:focus {
    color:white;
    outline: none;
  }
  &:visited{
    color:white;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

