body{
	margin: 0 auto;
	height:100vh;
	max-height: 100vh;
	overflow: hidden;
	div#main{
		margin:0 auto;
		padding:0;
		width: 100%;

		div.content{
			margin:0 auto;
			padding:0;
			width: 100%;
		}
	}
}

 .blocker{
      position:fixed;
      width:100%;
      height:100%;
      left:0;
      top:0;
      right:0;
      bottom:0;
      z-index:9999;
 }

 #split-blocker{
 	display:none;
 }