/* =Variables
-------------------------------------------------------------- */

/* Colors */

$white: #ffffff;
$black: #000000;

///	////////////////////////////////
//	PROBLEM Colors
/// ///////////////////////////////

$brown1: #734d21;
$brown2: #8a7766;
$brown3: #59422f;
$gray1: #f1f1f1;
$black1: #0f0f0e;



///	////////////////////////////////
//	PROMISE Colors
/// ///////////////////////////////

$blue1: #40688d;
$blue2: #4cc1f4;
$red: #d96153;
$tan: #f1e2d2;
/* $gray1 is apart of this palette too */ 



///	////////////////////////////////
//	Additional Colors
/// ///////////////////////////////

$error: #c0392b;
$info: #2980b9;
$alert: #f39c12;
$success: #27ae60;


///	////////////////////////////////
//	Fonts
/// ///////////////////////////////

$title: 'nimbus-sans-condensed';
$content: 'adobe-garamond-pro';
$san-serif: 'brandon-grotesque';

