#problem-content{
	@include position(absolute, 0 0 0 0);
	z-index:10;
	width:100vw;
	height:100vh;
	#problem-intro{
		width:50%;
		margin: 0 auto;
		margin-top: 200px;
		text-align:center;
		p{
			font-family: $content;
			font-size: 20px;
		}
		#prob-cta{
			margin: 0 auto;
			width:350px;
			margin-bottom: 20px;
		}
		#begin-street-view-btn{
			cursor: pointer;
		}

	}

}