div#split-screen{
	background-image: url('../images/problemvspromise.jpg');
	background-size: 600%;
	background-position: 51% 90%;
	// @include media($xl-min){
	// 	background-position: 51% 75%;	
	// }
	width:100%;
	height: 100vh;

	h1{
		@include media($rg-min){
			font-size: 50px;
			letter-spacing: 3px;
		}
		@include media($xxl-min){
			font-size: 60px;
		}
	}

	h2{
		@include media($rg-min){
			font-size: 20px;
		}
	}
	
	div#problem-screen{
		position:relative;
		height:100vh;
		width:50%;
		float: left;
		cursor: pointer;
		opacity:0;

		div.blur-overlay-left{
			@include position(absolute, 0 0 0 0);
			width: 100%;
			height:100vh;
			z-index:-1;
			@include filter(brightness(50%));
			@include transition(all 5s ease-in-out);
		}
		div#problem-text{
			@include position(absolute, 50% 0 50% 0);
			z-index:-2;
			min-width: 200px;
			@include media($xl-min){
				top:30%;
				min-width: 300px;
			}
		}
	}
	
	div#promise-screen{
		position:relative;
		height:100vh;
		width:50%;
		float:right;
		cursor: pointer;
		opacity:0;

		div.blur-overlay-right{
			@include position(absolute, 0 0 0 0);
			width: 100%;
			height:100vh;
			@include filter(brightness(50%));
			z-index:-1;
			@include transition(all 5s ease-in-out);
		}
		div#promise-text{
			@include position(absolute, 50% 0 50% 0);
			z-index:-2;
			@include media($xl-min){
				top:30%;
			}
		}
	}

}